<div class="custom-meta-div">
  {% assign current_variant = product.selected_or_first_available_variant %}
  {% assign spec_variant_kv = product.metafields.custom.product_specification.value.variant_kv %}
  {% if spec_variant_kv and spec_variant_kv[current_variant.sku]-%}
    <span class="text">Specification</span>
      <div class="custom-meta-block">
        <table>
          <tbody>
            <tr>
              <td class="key-td">
                <span class="key-text">SKU</span>
              </td>
              <td class="value-td" data-tab-meta-sku>
                <span class="value-text">{{ current_variant.sku }}</span>
              </td>
            </tr>
            {% assign attrs = spec_variant_kv[current_variant.sku] %}
            {% for attr in attrs %}
              {% if attr.value and attr.value != blank %}
                <tr>
                  <td class="key-td">
                    <span class="key-text">{{ attr.key }}</span>
                  </td>
                  <td class="value-td">
                      <span class="value-text">{{ attr.value }}</span>
                    </td>
                  </tr>
              {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>
  {% endif %}
</div>

<div class="custom-meta-div">
  {% assign wd_variants = product.metafields.custom.product_weight_dimensions.value %}
  {% if wd_variants -%}
    {% assign wd_variants_kv = product.metafields.custom.product_weight_dimensions.value.variant_kv %}
    <span class="text">Weight & Dimensions</span>
    {% if wd_variants_kv and wd_variants_kv[current_variant.sku] %}
      {% assign attrs = wd_variants_kv[current_variant.sku] %}
      <div class="custom-meta-block" id="data_tab_meta_dimens_{{ current_variant.sku }}" style="display:block;">
        <table>
          <tbody>
            {% for attr in attrs %}
              {% if attr.value and attr.value != blank %}
                <tr>
                  <td class="key-td">
                    <span class="key-text">{{ attr.key }}</span>
                  </td>
                  <td class="value-td">
                    <span class="value-text">{{ attr.value }}</span>
                  </td>
                </tr>
              {% endif %}
            {% endfor %}
          </tbody>
        </table>
        {% assign wd_variants_images = product.metafields.custom.product_weight_dimensions.value.variant_images %}
        {% if wd_variants_images and wd_variants_images[current_variant.sku] %}
          <div class="horizen-line">&nbsp</div>
          {% assign wd_variants_images_attrs = wd_variants_images[current_variant.sku] %}
          {% for attr in wd_variants_images_attrs %}
            {% assign attr_filename = attr | split:'?' | first | split:'/' | last | split:'.' | first | escape %}
            {%- for media in product.media -%}
              {% assign preview_image_url = media.preview_image | img_url: 'master' %}
              {% assign preview_filename = preview_image_url | split:'?' | first | split:'/' | last | split:'.' | first | escape %}
               <span>******</span>
                 <br>
              <span>{{ attr_filename }}</span>
              <br>
              <span>{{ preview_filename }}</span>
              <br>
              <span>******</span>
              {%- if media.media_type =='image' and attr_filename in preview_filename -%}
                  <img class="img" src="{{ preview_image_url }}" loading="lazy" alt="{{ media.alt | escape }}" width="100%" height="100%" >
                  {% break; %}
              {%- endif -%}
            {%- endfor -%}
          {% endfor %}
        {% endif %}
      </div>
    {% endif %}
  {% endif %}
</div>
