<div class="custom-meta-div">
  {% assign current_variant = product.selected_or_first_available_variant %}
  {% if product.metafields.custom.product_specification -%}
    <span class="text">Specification</span>
    {% for item in product.metafields.custom.product_specification.value.content %}
      <div class="custom-meta-block">
        <table>
          <tbody>
            {% if current_variant %}
               <tr>
                  <td class="key-td">
                    <span class="key-text">SKU</span>
                  </td>
                  <td class="value-td" data-tab-meta-sku>
                    <span class="value-text">{{ current_variant.sku }}</span>
                  </td>
              </tr>
            {% endif %}
       
            {% for attr in item.attrs %}
              {% if attr.value and attr.value != blank %}
                <tr>
                  <td class="key-td">
                    <span class="key-text">{{ attr.key }}</span>
                  </td>
                   <td class="value-td">
                    <span class="value-text">{{ attr.value }}</span>
                  </td>
                </tr>
              {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% endfor %}
  {% endif %}
</div>
<div class="custom-meta-div">
  {% if product.metafields.custom.product_weight_dimensions -%}
    <span class="text">Dimensions</span>
    {% for item in product.metafields.custom.product_weight_dimensions.value.content %}
      
      <div class="custom-meta-block" id="data_tab_meta_dimens_{{ item.sku }}" {% if item.sku contains current_variant.sku %} style="display:block;"  {% else %} style="display:none;"  {% endif %} >
        <table>
          <tbody>
            {% for attr in item.attrs %}
              {% if attr.value and attr.value != blank %}
                <tr>
                  <td class="key-td">
                    <span class="key-text">{{ attr.key }}</span>
                  </td>
                  <td class="value-td">
                    <span class="value-text">{{ attr.value }}</span>
                  </td>
                </tr>
              {% endif %}
            {% endfor %}
          </tbody>
        </table>
        {% if item.img_url %}
          <div class="horizen-line">&nbsp</div>
          {%- for media in product.media -%}
            {% assign preview_image_url = media.preview_image | img_url: 'master' %}
            {% assign filename = preview_image_url | split:'?' | first | split:'/' | last | split:'.' | first | escape %}
            {% assign checkArray = filename | split:item.img_url %}
            {%- if media.media_type =='image' and checkArray[0] == blank -%}
                <img class="img" src="{{ preview_image_url }}" loading="lazy" alt="{{ media.alt | escape }}" width="100%" height="100%" >
                {% break; %}
            {%- endif -%}
          {%- endfor -%}
          
        {% endif %}
      </div>
    {% endfor %}
  {% endif %}
</div>
