<div class="custom-meta-div">
  {% if product.metafields.custom.product_specification -%}
    <span class="text">Specification</span>
    {% for item in product.metafields.custom.product_specification.value.content %}
      <div class="custom-meta-block">
        <table>
          <tbody>
            {% for attr in item.attrs %}
              {% if attr.value %}
                <tr>
                  <td class="key-td">
                    <span class="key-text">{{ attr.key }}</span>
                  </td>
                   <td class="value-td">
                    <span class="value-text">{{ attr.value }}</span>
                  </td>
                </tr>
              {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% endfor %}
  {% endif %}
</div>
<div class="custom-meta-div">
  {% if product.metafields.custom.product_weight_dimensions -%}
    <span class="text">Dimensions</span>
    {% for item in product.metafields.custom.product_weight_dimensions.value.content %}
      <div class="custom-meta-block">
        <table>
          <tbody>
            {% for attr in item.attrs %}
              {% if attr.value %}
                <tr>
                  <td class="key-td">
                    <span class="key-text">{{ attr.key }}</span>
                  </td>
                  <td class="value-td">
                    <span class="value-text">{{ attr.value }}</span>
                  </td>
                </tr>
              {% endif %}
            {% endfor %}
          </tbody>
        </table>
        {% if item.img_url %}
          <div class="horizen-line">&nbsp</div>
          {%- for media in product.media -%}
            {% assign preview_image_url = media.preview_image | img_url: 'master' %}
            {% assign filename = preview_image_url | split:'?' | first | split:'/' | last | split:'.' | first | escape %}
            {%- if media.media_type =='image' and filename.startsWith(item.img_url) -%}
                <img class="img" src="{{ preview_image_url }}" loading="lazy" alt="{{ media.alt | escape }}" width="100%" height="100%" >
                {% break; %}
            {%- endif -%}
          {%- endfor -%}
          
        {% endif %}
      </div>
    {% endfor %}
  {% endif %}
</div>
